@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-success {
    background-color: #51A351 !important; /* green */
    color: #fff !important;
}

.toast-error {
    background-color: #BD362F !important; /* red */
    color: #fff !important;
}

.toast-info {
    background-color: #2F96B4 !important; /* blue */
    color: #fff !important;
}

.toast-warning {
    background-color: #F89406 !important; /* orange */
    color: #fff !important;
}
